@use './variables' as *;

.avatar {
  position: relative;
  padding: 10px;
  border-radius: 50%;
  margin: 0 60px 60px 60px;
  border: 5px solid $theme-color;
  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }
}
