@use './variables' as *;

.headline {
  color: $theme-color;
  padding-right: 30px;
  padding-left: 30px;
  border-left: 2px solid $theme-color;

  .content {
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
    font-size: 5rem;
    margin-bottom: 15px;
  }

  .content::after {
    position: absolute;
    content: '';
    top: 0;
    left: -40px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: $theme-color;
  }
}

.subHeadline {
  .content {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
  }

  .content::after {
    display: none;
  }
}
