.headline {
  .name,
  .title {
    text-transform: uppercase;
    border-bottom: 1px solid #b5b5b5;
    padding: 10px 0;
  }
  .name {
    font-size: 3rem;
    letter-spacing: 15px;
    span {
      display: block;
    }
  }
  .title {
    font-weight: 500;
    letter-spacing: 7px;
  }
}
