.resume {
  flex: 7;
  background-color: #f6f6f6;
  padding: 30px;

  .body {
    display: flex;
    gap: 50px;

    .left,
    .right {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .left {
      flex: 1;
    }
    .right {
      flex: 2;
    }
  }
}
