@use './variables' as *;

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px $horizontal-padding 0 30px;
  border-left: 2px solid $theme-color;

  .title {
    position: relative;
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  .title::after {
    position: absolute;
    content: '';
    transform: translateY(-50%);
    top: 50%;
    left: -40px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: $theme-color;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;

    .icon {
      font-size: 2rem;
      color: $theme-color;
      width: 3rem;
      margin-right: 5px;
      text-align: center;
    }

    .children {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &:has(.section) {
        gap: 25px;
      }

      &:has(.icon) {
        gap: 10px;
      }
    }
  }

  &:first-child {
    padding-top: $vertical-padding;
  }

  &:last-child {
    padding-bottom: $vertical-padding;
    flex: 1;
  }

  .section {
    padding: 0;
    border-left: none;
    gap: 10px;

    .title {
      color: $theme-color;
      font-size: 1.6rem;
    }
    .title::after {
      display: none;
    }
  }
}
